class Tomat < Formula
  desc "Cross-platform Pomodoro timer with daemon support"
  homepage "https://jolars.github.io/tomat"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/jolars/tomat/releases/download/v__VERSION__/tomat-aarch64-apple-darwin.tar.gz"
      sha256 "__SHA_MACOS_ARM__"
    end
    on_intel do
      url "https://github.com/jolars/tomat/releases/download/v__VERSION__/tomat-x86_64-apple-darwin.tar.gz"
      sha256 "__SHA_MACOS_X86__"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/jolars/tomat/releases/download/v__VERSION__/tomat-aarch64-unknown-linux-gnu.tar.gz"
      sha256 "__SHA_LINUX_ARM__"
    end
    on_intel do
      url "https://github.com/jolars/tomat/releases/download/v__VERSION__/tomat-x86_64-unknown-linux-gnu.tar.gz"
      sha256 "__SHA_LINUX_X86__"
    end

    depends_on "patchelf" => :build
    depends_on "alsa-lib"
  end

  def install
    if OS.linux?
      system "patchelf", "--set-rpath", formula_opt_lib("alsa-lib"), "tomat"
    end

    bin.install "tomat"
    man1.install Dir["man/*.1"]
    bash_completion.install "completions/tomat.bash"
    fish_completion.install "completions/tomat.fish"
    zsh_completion.install "completions/_tomat"
  end

  service do
    run [opt_bin/"tomat", "--quiet", "daemon", "run"]
    environment_variables PATH: std_service_path_env
    error_log_path var/"log/tomat.log"

    if OS.mac?
      keep_alive successful_exit: false
      throttle_interval 5
    end

    if OS.linux?
      keep_alive true
      restart_delay 5
    end
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/tomat --version")
  end
end
